@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

.blurEffect {
  filter: blur(108.0999984741px);
}

.purpleEffect {
  content: "";
  position: absolute;
  top: 15px;
  right: 34px;
  width: 883.726px;
  height: 512.011px;
  border-radius: 883.726px;
  opacity: 0.2;
  background: linear-gradient(
    99deg,
    #7b3ec8 1.93%,
    #3e54c8 47.51%,
    #7b3ec8 96.04%
  );
  filter: blur(108.0999984741px);
  z-index: -1;
}

.blueEffect {
  content: "";
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 400px;
  min-width: 250px;
  min-height: 300px;
  max-height: 400px;
  border-radius: 702.76px;
  opacity: 0.2;
  background: #2ebae6;
  filter: blur(108.0999984741px);
  z-index: -1;
}

.footer:after {
  content: "";
  position: absolute;
  border-radius: 1744.768px;
  opacity: 0.26;
  background: var(
    --Linear,
    linear-gradient(99deg, #2ee6a6 1.93%, #3e54c8 47.51%, #7b3ec8 96.04%)
  );
  filter: blur(108.0999984741px);
  max-width: 1744.768px;
  max-height: 341.704px;
  height: 100%;
  width: 94vw;
}

.mobNav{
  background: rgba(0,0,0,.8);
  box-shadow: 0px 4px 67.7px 0px #000;
  backdrop-filter:  blur(7.75px) ;
  transition: .3s all;
  transform: translateX(0%);
}
